.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.navbar > a {
    padding: 10px;
    font-size: larger;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    
}

.navbar-container > img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.navbar-container > button {
    margin-right: 10px;
    background-color: #00437A ;
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.example-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: auto;
}

.example-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.example-container > img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.example-container > p {
    font-family: sans-serif
}


body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#weirdmsg {
    color: red;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    flex: 1;
}

main > p {
    font-family: sans-serif;
}

footer{
    background-color: aquamarine;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

footer > a {
    color: black;
    display: inline;
    /* justify-content: space-evenly; */
    text-decoration: none;
    /* align-items: center; */
    margin: 5px;
}

footer > p {
    display: inline;
    /* justify-content: space-between; */
    margin: 5px;
}

#char-image {
    display: flex;
    height: 250px;
    width: 400px;
    visibility: hidden;
    justify-content: space-evenly;
    padding: 10px;
}

#viewBTN {
    display: flex;
    margin-left: 40lh;
    margin-top: 40px;
    background-color: #00437A;
    color: white;
    padding: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 300px;
    font-family: sans-serif;
    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    display: inline-flex;
    margin-left: 70px;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-container {
    padding: 2px 16px;
  }

  .form-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

  }

  .onlyForm > select {
    display: flex;
    margin: 10px;
    padding: 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #EDE944;
    background-color:#00437A;
    border-radius: 50px;
  }

  .onlyForm > label {
    font-family: sans-serif;
  }

  .onlyForm > input {
    margin: 20px;
    padding: 10px;
    background-color: #00437A;
    color: white;
    border-radius: 50px;
  }